
tr.main:nth-child(odd) {
   background-color: rgba(193,198,200, 0.05);
}

tr.main:nth-child(even) {
   background-color: rgba(193,198,200, 0.2);
}

tr.main, tr.selected {
   background-color: rgba(193,198,200, 0.7);
   color: #333333;
}

table.selected {
  padding: 0px 0px;
  margin: 0px 0px;
}


tr.portlet-header {
   border-top: 3px solid rgba(139,182,0,1);
   background-color: rgba(193,198,200, 0.2);
}

td.portlet-header {
   border: 0px;
   color: black;
   font-style: bold;
}

tr.portlet-window {
   border-style: none;
   background-color: white;
}
td.portlet-window {
   border-style: none;
   background-color: white;
}

td.check {
  background-image: url("../gfx/green-check.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


td.main, td.selected {
   padding: 5px 5px;
   color: inherited;
   border: 1px solid rgba(193,198,200, 1);
}

td.selected {
   border-left:2px solid rgba(139,182,0,1);
   color: black;
}

header span#trademark {
      font-style: italic;
}

nav.mycomosi {
      width: 100%;
      border-collapse: collapse;
      border: none;
      vertical-align: middle;
      margin-top: 0px;
      background-color: white;
      color: #00617F;
      border-bottom: solid 1px;
      border-color: #CCCCCC;

}

li#header-product-name, li#header-family-name {
   padding: 10px 5px;
   list-style-type: none;
   font-size: 18px;
   color: #777;
}
li#header-product-name {
   font-family: OpenSans-Regular;
}

li#header-family-name {
   font-family: OpenSans-Bold;
}

li.header-product-name {
  font-weight: bold;
}

li#header-mycomosilogo {
   background-image: url("../gfx/mycom-osi-logo-108.png");
   background-repeat: no-repeat;
   background-size: auto;
   margin-top: 15px;
   margin-left: 10px;
   width:120px;
   height:20px;
}

li#stretch {
   flex-grow: 1;
}


li#login {
   text-transform: none;
}

ul.groupheader, ul.productheader {
   margin-bottom: 0;
   display: flex;
   flex-direction: row;
}



nav {
      margin-top: 25px;
}

li.item {
      color: #00617F;
      list-style-type: none;
      padding: 15px 15px;
}

li.icon {
      list-style-type: none;
      display: inline;
      padding: 10px 20px;
}

li.item.selected {
      color: white;
      background-color: #84BD00;
}

li.item.selected:hover {
      color: white;
}

li.item:hover {
      cursor: pointer;
      color: rgba(0, 96, 127, 0.5);
}



li.item#login {
      font-style: italic;
}

li.item:hover#login, li.item:hover#stretch {
      cursor: default;
      color: inherit;
      background-color: inherit;
}


.title {
      margin: 20px 0px 0px 10px;
      color: #cccccc;
      font-size: 24px;
      font-family: OpenSans-Light;
}

hr {
      color: #666;
      height: 1px;
      border: 0;
      background-color: #666;
      margin: 0 25px 10px 10px;
}

form {
      margin: 0px 25px 0 10px;
}

legend {
      color: #cccccc;
      font-size: 20px;
      font-family: OpenSans-Light;
      border-color: #666;
}

a.nonbutton {
   font-style: italic; 
   color: inherit;
}

a.nonbutton:hover {
   font-style: underline; 
   color: inherit;
}

p {
      margin: 0px 25px 0 10px;
}

.btn {
      border-radius: 0;
      background: #F5F5F5;
}

.btn-primary {
      font-family: OpenSans-Bold;
      color: #333333;
      border-color: #CCCCCC;
}

.btn-primary:hover {
      background: #E6E6E6;
      color: #333333;
      border-color: #CCCCCC;
}

.content {
      background: #FFFFFF;
      color: #333333;
}

.content .title {
      color: #333333;
}

.content legend {
      color: #333333;
}
