tr.portlet-header {
   background-color: #65b5c2;
   color: white;
   border: 1px solid #65b5c2;
}

td.portlet-header {
   font-style: bold;
}

tr.portlet-window {
   border-style: none;
   background-color: white;
}
td.portlet-window {
   border-style: none;
   background-color: white;
}

img.portlet-header {
  padding: 1px;
  vertical-align: top;
}

td.portlet-shift {
  padding-left: 10px;
  }
