tr.portlet-header {
   background-color: rgba(0,133,155, 0.6);
   color: white;
   border: 1px solid rgba(0,97,127,1);
}

td.portlet-header {
   font-style: bold;
}

tr.portlet-window {
   border-style: none;
   background-color: white;
}
td.portlet-window {
   border-style: none;
   background-color: white;
}

img.portlet-header {
  padding: 1px;
  vertical-align: top;
}
